// color 

$black: #484848;
$light-grey: #A7A7A7;
$lightest-grey: #F2F2F2;
$grey: #9190A6;
$dark-grey: #66737E;
$very-ligth-grey: #DEDDE9;
$blue: #31307A;
$light-blue: #F9F9FD;
$green: #1D906D;
$green-dark: #16674f;
$white: #FFFFFF;